.nav {
displey:flex;
list-style-type:none;
justify-content:space-evenly;
background-color:purple

}
.nav li {
  margin-right:10px;
  border: 10px solid lightblue;

}

.container {
  display:flex;
  border: 10px solid black;
  flex-wrap: wrap;
  
}

.animal {
flex-basis: 25%;

} 

img {
  width: 200px;
  height:200px;
}